<div class="bg-color">
  <div class="container main pt-4">
    <h2 class="font-weight-bold text-uppercase my-3">Contact us
      <div class="underline"></div>
    </h2>
    <div class="row">
      <div class="col-lg-6 col-sm-12 mb-2">
        <div class="fs-13">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae aspernatur itaque est accusantium id. Hic nemo ut accusantium! Quos, optio?</div>
        <div class="d-flex mt-3 mb-2">
          <div class="icon-container bg-sky-color">
            <fa-icon [icon]="faMapMarkerAlt"></fa-icon>
          </div>
          <div class="ml-2 fs-13 d-flex align-items-center">4435 Berkshire Circle</div>
        </div>
        <div class="d-flex mt-3 mb-2">
          <div class="icon-container bg-sky-color">
            <fa-icon [icon]="faPhoneAlt"></fa-icon>
          </div>
          <div class="ml-2 fs-13 d-flex align-items-center">+ 879-890-9767</div>
        </div>
        <div class="d-flex mt-3 mb-2">
          <div class="icon-container bg-sky-color">
            <fa-icon [icon]="faEnvelopeOpen"></fa-icon>
          </div>
          <div class="ml-2 fs-13 d-flex align-items-center">support@matrl.com</div>
        </div>
        <div class="d-flex mt-3 mb-2">
          <div class="icon-container bg-sky-color">
            <fa-icon [icon]="faClock"></fa-icon>
          </div>
          <div class="ml-2 fs-13 d-flex align-items-center">09:30 AM - 10:30 PM</div>
        </div>
      </div>
      <div class="col-lg-6 col-sm-12">
        <input type="text" class="form-control border-bottom mb-4" placeholder="Name">
        <input type="text" class="form-control border-bottom mb-4" placeholder="Email">
        <input type="text" class="form-control border-bottom mb-4" placeholder="Subject">
        <input type="text" class="form-control border-bottom mb-4" placeholder="Message">
        <button disabled class="my-5 d-block bg-sky-color text-uppercase btn fs-14 font-weight-bold text-white">
          <fa-icon [icon]="faCommentAlt"></fa-icon>
          send message
        </button>
      </div>
    </div>
  </div>
</div>
