<div class="bg-color py-4">
  <div class="container main">
    <div class="row">
      <h2 class="font-weight-bold text-uppercase">
        Portfolio
        <div class="underline"></div>
      </h2>
      <div *ngIf="responsiveLayout.mobileVersion" class="dropdown justify-content-end ml-auto mt-3 align-items-end" dropdown>
        <div class="user-info" dropdownToggle id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          <div class="user-color">
            <button class="btn bg-sky-color text-white dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Categories
            </button>
          </div>
        </div>
        <div *dropdownMenu class="dropdown-menu dropdown-menu-right pointer" aria-labelledby="dropdownMenuButton">
          <div class="dropdown-item" *ngFor="let category of categories" (click)="changeCategory(category)">{{category}}</div>

        </div>
      </div>
      <ul *ngIf="!responsiveLayout.mobileVersion" class="nav justify-content-end fs-14 ml-auto mt-3 align-items-end">
        <li class="nav-item pointer" *ngFor="let category of categories" (click)="changeCategory(category)">
          <button
            class="btn"
            [ngClass]="{'portfolio-button': selectedCategory !== category, 'active-portfolio-button': (selectedCategory === category) }">
            {{category}}
          </button>
        </li>
      </ul>
    </div>
    <div class="portfolio-container mt-4">
      <img src="{{item.image}}" alt="{{item.image}}" class="portfolio-item col-sm-6 col-lg-4" *ngFor="let item of filteredPortfolio">
    </div>

    <button class="mx-auto my-5 d-block explore-more-btn bg-sky-color text-uppercase btn fs-14 font-weight-bold text-white">
      <fa-icon [icon]="faLightbulb"></fa-icon>
      explore more work
    </button>
  </div>
</div>
