.portfolio-button {
  background-color: #EEEEEE;
  margin-left: 10px;
  font-size: 13px;
}

.portfolio-container {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(350px, 1fr));

  .portfolio-item {
    padding-left: 20px;
    padding-bottom: 20px;
    height: 350px;
    width: 100%;
  }

}

.explore-more-btn {
  padding: 10px 9px;
}
