<div class="bg-color py-4">
  <div class="container main">
    <div class="row">
      <h2 class="font-weight-bold text-uppercase">Portfolio</h2>
      <ul class="nav justify-content-end fs-14 ml-auto mt-3 align-items-end">
        <li class="nav-item pointer">
          <button class="portfolio-button btn">All</button>
        </li>
        <li class="nav-item pointer">
          <button class="portfolio-button btn">Buisness</button>
        </li>
        <li class="nav-item pointer">
          <button class="portfolio-button btn">Creative</button>
        </li>
        <li class="nav-item pointer">
          <button class="portfolio-button btn">Education</button>
        </li>
        <li class="nav-item pointer">
          <button class="portfolio-button btn">Blog</button>
        </li>
        <li class="nav-item pointer">
          <button class="portfolio-button btn">Free</button>
        </li>
        <li class="nav-item pointer">
          <button class="portfolio-button btn">More</button>
        </li>
      </ul>
    </div>
    <div class="portfolio-container mt-4">
      <img src="assets/images/portfolio-1.png" alt="" class="portfolio-item">
      <img src="assets/images/portfolio-2.png" alt="" class="portfolio-item">
      <img src="assets/images/portfolio-3.png" alt="" class="portfolio-item">
      <img src="assets/images/portfolio-4.png" alt="" class="portfolio-item">
      <img src="assets/images/portfolio-5.png" alt="" class="portfolio-item">
      <img src="assets/images/portfolio-6.png" alt="" class="portfolio-item">
    </div>

    <button class="mx-auto my-5 d-block explore-more-btn bg-sky-color text-uppercase btn fs-14 font-weight-bold text-white">
      <fa-icon [icon]="faLightbulb"></fa-icon>
      explore more work
    </button>
  </div>
</div>
