<header #header class="position-fixed">
  <nav class="navbar navbar-light bg-light justify-content-around font-weight-bold h-100">
    <div class="d-flex justify-content-around align-items-center w-100 h-100">
      <a class="navbar-brand d-flex align-items-center logo-title sky-color">
        <img src="assets\images\logo.png" class="d-inline-block align-top" alt="logo">
        Example
      </a>
      <ul *ngIf="!responsiveLayout.mobileVersion" class="nav justify-content-end fs-14 nav-buttons">
        <li
          class="nav-item pointer h-100"
          *ngFor="let item of menu"
          (click)="changeMenu(item)"
          [ngClass]="{'bg-sky-color text-white': this.selectedMenu === item}">
          <a class="nav-link active">{{item}}</a>
        </li>

      </ul>
      <div *ngIf="responsiveLayout.mobileVersion" class="dropdown" dropdown>
        <div class="user-info" dropdownToggle id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          <div class="user-color">
            <fa-icon [icon]="faBars" class="fs-24"></fa-icon>
          </div>
        </div>
        <div *dropdownMenu class="dropdown-menu dropdown-menu-right pointer" aria-labelledby="dropdownMenuButton">
          <div class="dropdown-item" *ngFor="let item of menu" (click)="changeMenu(item)">{{item}}</div>
        </div>
      </div>
    </div>
  </nav>
</header>

<div class="main-page">
  <div #carousel>
    <app-carousel ></app-carousel>
  </div>
  <div #description>
    <app-description></app-description>
  </div>
  <div #services>
    <app-services></app-services>
  </div>
  <div #portfolio>
    <app-portfolio></app-portfolio>
  </div>
  <div #works>
    <app-works></app-works>
  </div>
  <div #team>
    <app-team></app-team>
  </div>
  <div #stories>
    <app-stories></app-stories>
  </div>
  <div #contact>
    <app-contact-us></app-contact-us>
  </div>
  <div #about>
    <app-footer></app-footer>
  </div>
</div>
