footer {
  background-color: #333333;
}

.icon-container {
  position: relative;
  margin-left: 5px;
  height: 30px;
  width: 30px;
  border-radius: 1px;
  background-color: #2A2A2F;

  img{
    position: absolute;
    top: 5px;
    left: 5px;
    width: 20px;
    height: 20px;
  }
}

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  
  .gallery-item {
    height: 50px;
    width: 50px;
    padding-bottom: 5px;
  }
}

.footbar {
  height: 60px;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
