<footer>
  <div class="container text-white main pt-5">
    <div class="row mb-4">
      <div class="col-3">
        <h5 class="font-weight-bold">ABOUT</h5>
        <div class="fs-13">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta quaerat quia quo vitae fuga consequuntur, culpa tempore eius.
        </div>
        <div class="row mt-4">
          <div class="icon-container">
            <img src="assets/images/facebook.png" alt="facebook">
          </div>
          <div class="icon-container">
            <img src="assets/images/twitter.png" alt="twitter">
          </div>
          <div class="icon-container">
            <img src="assets/images/ball.png" alt="ball">
          </div>
          <div class="icon-container">
            <img src="assets/images/github.png" alt="github">
          </div>
          <div class="icon-container">
            <img src="assets/images/linkedin.png" alt="linkedin">
          </div>
        </div>
      </div>
      <div class="col-3">
        <h5 class="font-weight-bold">RECENT POSTS</h5>
        <div class="fs-13">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt praesentium recusandae magnam assumenda accusamus enim! Quaerat illum fuga velit eligendi incidunt laborum, odit dolorum optio.
        </div>
      </div>
      <div class="col-3">
        <h5 class="font-weight-bold">QUICK LINK</h5>
        <div class="row">
          <div class="col-6">
            <div class="mb-3 fs-12">About Us</div>
            <div class="mb-3 fs-12">Portfolio</div>
            <div class="mb-3 fs-12">Contact Us</div>
            <div class="mb-3 fs-12">Privacy Policy</div>
          </div>
          <div class="col-6">
            <div class="mb-3 fs-12">Brand</div>
            <div class="mb-3 fs-12">Support</div>
            <div class="mb-3 fs-12">Site Map</div>
            <div class="mb-3 fs-12">Terms of Service</div>
          </div>
        </div>
      </div>
      <div class="col-3">
        <h5 class="font-weight-bold">OUR GALLERY</h5>
        <div class="gallery-container">
          <img src="assets/images/portfolio-1.png" alt="" class="gallery-item">
          <img src="assets/images/portfolio-2.png" alt="" class="gallery-item">
          <img src="assets/images/portfolio-3.png" alt="" class="gallery-item">
          <img src="assets/images/portfolio-4.png" alt="" class="gallery-item">
          <img src="assets/images/portfolio-5.png" alt="" class="gallery-item">
          <img src="assets/images/portfolio-6.png" alt="" class="gallery-item">
        </div>
      </div>
    </div>
  </div>

  <div class="footbar">
    2018 MATRL Studio, All rights reserved. Designed by Vahe Poghosyan
  </div>
</footer>
