<header class="position-fixed">
  <nav class="navbar navbar-light bg-light justify-content-around font-weight-bold">
    <a class="navbar-brand d-flex align-items-center logo-title">
      <img src="assets\images\logo.png" class="d-inline-block align-top" alt="logo">
      Example
    </a>
    <ul class="nav justify-content-end fs-14">
      <li class="nav-item pointer">
        <a class="nav-link active">Home</a>
      </li>
      <li class="nav-item pointer">
        <a class="nav-link">Pages</a>
      </li>
      <li class="nav-item pointer">
        <a class="nav-link">Elements</a>
      </li>
      <li class="nav-item pointer">
        <a class="nav-link">Portfolio</a>
      </li>
      <li class="nav-item pointer">
        <a class="nav-link">Blog</a>
      </li>
      <li class="nav-item pointer">
        <a class="nav-link">Contact Us</a>
      </li>
    </ul>
  </nav>
</header>
