
header {
  height: 60px;
  width: 100%;
  z-index: 100;
  nav {
    padding: 0;
    box-shadow: 0 0 1px black;

    ul {
      height: 66px;
      display: flex;
      align-items: center;

      li {
        display: flex;
        align-items: center;
      }
    }
  }
  .logo-title{
    img {
      width: 40px;
      height: 40px;
    }
  }

}
