@import "./variables";

.main{
  width: 60%;
}

.pointer {
  cursor: pointer;
}

.bg-color {
  background-color: #F9F9F9;
}

.bg-sky-color {
  background-color: #2196F3;
}

.sky-color {
  color: #2196F3;
}

.fs-12 {
  font-size: 12px;
}

.fs-13 {
  font-size: 13px;
}

.fs-14 {
  font-size: 14px;
}

.fs-17 {
  font-size: 17px;
}

.fs-19 {
  font-size: 19px;
}
