<div class="container main my-4">
  <h2 class="font-weight-bold text-uppercase">Services
    <div class="underline"></div>
  </h2>

  <div class="service-container mt-5">
    <div class="service-item col-lg-4 col-sm-6" *ngFor="let service of services">
      <fa-icon [icon]="service.icon" class="sky-color"></fa-icon>
      <div class="description">
        <h5 class="sky-color font-weight-bold">{{service.title}}</h5>
        <div>{{service.description}}</div>
      </div>
    </div>
  </div>
</div>
