.service-container {
  display: flex;
  flex-wrap: wrap;

  .service-item {
    display: flex;
    width: 350px;
    margin-bottom: 50px;

    fa-icon {
      font-size: 35px;
    }

    .description {
      margin-left: 20px;
    }
  }
}
