.description-item {
  display: flex;
  flex-direction: column;
  align-items: center;


  fa-icon {
    font-size: 26px;
  }
  .description-title {
    font-weight: bold;
  }
}


.categories {
  height: 60px;

  .category-item {
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;

    fa-icon {
      font-size: 20px;
    }
  }
}

